@import "tailwindcss";

body {
  font-family: Arial, Helvetica, sans-serif;
}

.main-block {
  background-image: url("/images/main.jpg");
  background-size: cover;
  background-position: bottom right;
}
